<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-1">
                        <a>
                            <i [routerLink]="['/tree-list']" class="material-icons mainIcon">arrow_back</i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-green">
                        <h3 class="card-title">{{name.value}} ({{categoryDescr}})</h3>
                    </div>

                    <div class="card-body">
                        <form [formGroup]="treeInfo">
                            <div class="row">
                                <div class="col-md-4" style="text-align:center;">
                                    <img class="treeImg" src="data:image/jpeg;base64,{{image.value}}" />
                                    
                                </div>
                                <div class="col-md-8">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Zone de l'arbre" name="zone"
                                                    formControlName="zone">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Âge/Hauteur de l'arbre" name="ageHeight"
                                                    formControlName="ageHeight">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Prix de l'arbre (unité)" name="price"
                                                    formControlName="price">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea class="form-control" rows="10" placeholder="Description"
                                            name="description" formControlName="description"></textarea>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-header card-header-green">
                        <h4 class="card-title">Ajouter au panier</h4>
                        <p class="card-category">Pour ajouter un article au panier, connectez-vous!</p>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="quantityInfo" (ngSubmit)="addToCart(quantity.value)">
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <input class="form-control" matInput formControlName="quantity" type="number" placeholder="Quantité"
                                            name="quantity">
                                    </mat-form-field>
                                    <small *ngIf="quantity.errors && quantity.invalid && quantity.touched" class="text-danger">
                                            <div *ngIf="quantity.errors?.min">La quantité minimale est de 1</div>
                                        </small>
                                </div>
                            </div>
                            <button [disabled]="canAddToCart()" type="submit" class="btn btn-green btn-round" style="color:white;">Ajouter</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>