<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-1">
                        <a class="nav-link">
                            <i [routerLink]="['/tree-list']" class="material-icons BackIcon">arrow_back</i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-green">
                        <h3 class="card-title" *ngIf="!addState()">Modification de : {{name.value}} pour la catégorie
                            {{categoryDescr}}</h3>
                        <h3 class="card-title" *ngIf="addState()">Ajout d'un arbre pour la catégorie
                            {{categoryDescr}}</h3>
                    </div>

                    <div class="card-body">
                        <form [formGroup]="newtree" (ngSubmit)="onSubmit()">
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Nom de l'arbre" name="treeName"
                                            formControlName="name" minlength="3" maxlength="100"
                                            [class.is-invalid]="name.invalid && name.touched">
                                    </mat-form-field>
                                    <small *ngIf="name.errors && name.invalid && name.touched" class="text-danger">
                                        <div *ngIf="name.errors.required">Le nom est requis</div>
                                        <div *ngIf="name.errors.minlength">La longueur minimale est de 3
                                            caractères </div>
                                        <div *ngIf="name.errors.treeExists">Le nom est déjà entré pour cette catégorie
                                        </div>
                                    </small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Zone de l'arbre" name="zone" formControlName="zone"
                                            maxlength="20" [class.is-invalid]="zone.invalid && zone.touched">
                                    </mat-form-field>
                                    <small *ngIf="zone.errors && zone.invalid && zone.touched" class="text-danger">
                                        <div *ngIf="zone.errors.required">La zone est requise</div>
                                        <div *ngIf="zone.errors.minlength">La longueur minimale est de 2
                                            caractères
                                        </div>
                                    </small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input maxlength="20"
                                            [class.is-invalid]="ageHeight.invalid && ageHeight.touched" name="ageHeight"
                                            matInput placeholder="Âge/Hauteur de l'arbre" formControlName="ageHeight">
                                    </mat-form-field>
                                    <small *ngIf="ageHeight.errors && ageHeight.invalid && ageHeight.touched"
                                        class="text-danger">
                                        <div *ngIf="ageHeight.errors?.required">L'age est requis</div>
                                        <div *ngIf="ageHeight.errors?.ageHeight">L'age n'est pas valide</div>
                                    </small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput pattern="([0-9]+(\.[0-9]+)?)" placeholder="Prix de l'arbre"
                                            name="price" formControlName="price" maxlength="10"
                                            [class.is-invalid]="price.invalid && price.touched">
                                    </mat-form-field>
                                    <small *ngIf="price.errors && price.invalid && price.touched" class="text-danger">
                                        <div *ngIf="price.errors?.required">Le prix est requis</div>
                                        <div *ngIf="price.errors?.pattern">Le prix doit être saisi avec ce format :
                                            chiffres - point - chiffres</div>
                                    </small>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea class="form-control" rows="5" name="description"
                                            placeholder="Description"
                                            [class.is-invalid]="description.invalid && description.touched"
                                            formControlName="description"></textarea>
                                        <small *ngIf="description.errors && description.invalid && description.touched"
                                            class="text-danger">
                                            <div *ngIf="description.errors?.required">La description est requise</div>
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input pattern="^[0123456789]{1,5}$"
                                            [class.is-invalid]="maximum.invalid && maximum.touched" name="maximum"
                                            matInput placeholder="Nombre maximum d'arbre pouvant être acheté"
                                            formControlName="maximum">
                                    </mat-form-field>
                                    <small *ngIf="maximum.errors && maximum.invalid && maximum.touched"
                                        class="text-danger">
                                        <div *ngIf="maximum.errors?.required">Le maximum d'arbre est requis</div>
                                        <div *ngIf="maximum.errors?.pattern">Seulement des chiffres (Maximum de 99 999)
                                        </div>
                                    </small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <input id="imagePath" class="form-control" type="file"
                                        placeholder="Ajouter une image" (change)="fileChangeEvent($event.target.files)"
                                        name="image" accept="image/*" formControlName="addingImage" />
                                    <small *ngIf="addingImage.errors" class="text-danger">
                                        <div *ngIf="addingImage.errors.fileError">Le format de fichier est invalide
                                        </div>
                                    </small>
                                </div>
                                <div class="col-md-6">
                                    <img class="treeImg" *ngIf="image" src="{{image.value}}" />
                                </div>
                            </div>
                            <button mat-raised-button type="submit" class="btn btn-green pull-right"
                                [disabled]="!newtree.valid">Ajouter</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>