.categoryicon {cursor:pointer;color:white;text-align: center;font-size: 35px;}
.subcategoryicon {cursor:pointer;color:#00808e;text-align: center;font-size: 15px;}
.CategoryOption {cursor:pointer;display: inline-block;}
