.NewCategoryIcon {cursor:pointer;color:#00808e;text-align: left;font-size: 40px;}
.NewCategoryIconOption {cursor:pointer;color:#00808e;text-align: left;font-size: 35px;}

.CategoryIcon {cursor:pointer;color:white;text-align: center;font-size: 35px;}

.SubCategoryIcon {font-size: 20px;}

.NewIconOption {cursor:pointer;display: inline-block;}


