<div class="main-content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12" *ngIf="admin">
                <div class="row">
                    <div class="col-md-1">
                        <a class="nav-link">
                            <i (click)="ShowNewCategory()" class="material-icons NewCategoryIcon">add_circle</i>
                        </a>
                    </div>
                    <div id="newCategory" class="col-md-11" style="display:none;">
                        <div class="row">
                            <div class="col-md-3">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Nouvelle catégorie" name="newCategory" maxlength="80">
                                </mat-form-field>
                            </div>
                            <div class="col-md-3" style="text-align: left">
                                <a class="nav-link NewIconOption"> 
                                    <i (click)="AddNewCategory()" class="material-icons NewCategoryIconOption">check</i>
                                </a>
                                <a class="nav-link NewIconOption"> 
                                    <i (click)="HideNewCategory()" class="material-icons NewCategoryIconOption">close</i>
                                </a>
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12" *ngFor="let treeCategory of treeCategories">
                <div class="card">
                    <div class="card-header card-header-green">
                        <div class="row">
                            <div class="col-md-9">
                                <h3 class="card-title">{{ treeCategory.description }}</h3>
                            </div>
                            <div class="col-md-3" style="text-align: right" *ngIf="admin">
                                <a class="nav-link NewIconOption" href="#modify-category">
                                    <i class="material-icons CategoryIcon">settings</i>
                                </a>
                                <a class="nav-link NewIconOption">
                                    <i (click)="deleteCategoryValidation();" class="material-icons CategoryIcon">delete</i>
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        Nom
                                    </th>
                                    <th>
                                        Zone
                                    </th>
                                    <th>
                                        Prix
                                    </th>
                                    <th>
                                    </th>
                                    <th *ngIf="admin">
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let treeSubCategory of treeCategory.treeSubCategories">
                                        <td>
                                            {{treeSubCategory.description}}
                                        </td>
                                        <td>
                                            4-a
                                        </td>
                                        <td>
                                            20,00$
                                        </td>
                                        <td>
                                            20,00$
                                        </td>
                                        <td>
                                            <button mat-raised-button type="submit" class="btn btn-primary pull-right">Consulter</button>
                                        </td>
                                        <td style="text-align: right" *ngIf="admin">
                                            <a class="nav-link NewIconOption" href="#modify-sub-category">
                                                <i class="material-icons SubCategoryIcon">settings</i>
                                            </a>
                                            <a class="nav-link NewIconOption" href="">
                                                <i (click)="deleteSubCategoryValidation();" class="material-icons SubCategoryIcon">delete</i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>