<div class="main-content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12" *ngIf="admin">
                <div class="row">
                    <div class="col-md-1">
                        <a class="nav-link">
                            <i (click)="ShowNewCategory()" class="material-icons NewCategoryIcon">add_circle</i>
                        </a>
                    </div>
                    <div id="newCategory" class="col-md-11" style="display:none;">
                        <form [formGroup]="newCategory" (ngSubmit)="AddNewCategory()">
                            <div class="row">
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Nouvelle catégorie" name="newCategory" formControlName="description" maxlength="80">
                                    </mat-form-field>
                                    <small *ngIf="description.errors && description.invalid && description.touched"
                                        class="text-danger">
                                        <div *ngIf="description.errors?.treeCategoryExists">La catégorie est déjà existante</div>
                                    </small>
                                </div>
                                
                                <div class="col-md-3" style="text-align: left">
                                    <button [disabled]="!newCategory.valid" type="submit" mat-icon-button>
                                        <i class="material-icons NewCategoryIconOption">check</i>
                                    </button>
                                    <!--<a class="nav-link NewIconOption"> 
                                        <i (click)="AddNewCategory()" class="material-icons NewCategoryIconOption">check</i>
                                    </a>-->
                                    <a class="nav-link NewIconOption"> 
                                        <i (click)="HideNewCategory()" class="material-icons NewCategoryIconOption">close</i>
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-12" *ngFor="let treeCategory of treeCategories">
                <div class="card">
                    <div class="card-header card-header-green">
                        <div class="row">
                            <div class="col-md-9">
                                <h3 class="card-title">{{ treeCategory.description }}</h3>
                            </div>
                            <div class="col-md-3" style="text-align: right" *ngIf="admin">
                                <a class="nav-link NewIconOption">
                                    <i (click)="ModifyCategoryDescription(treeCategory.id, treeCategory.description)" class="material-icons CategoryIcon">settings</i>
                                </a>
                                <a class="nav-link NewIconOption">
                                    <i (click)="DeleteCategoryValidation(treeCategory.id);" class="material-icons CategoryIcon">delete</i>
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        Nom
                                    </th>
                                    <th>
                                        Zone
                                    </th>
                                    <th>
                                        Prix
                                    </th>
                                    <th>
                                    </th>
                                    <th *ngIf="admin" style="text-align: right">
                                        <a >
                                            <i (click)="AddTreeOfCategory(treeCategory.id, treeCategory.description)" class="material-icons NewSubCategoryIcon">add_circle</i>
                                        </a>
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let treeSubCategory of treeCategory.treeSubCategories">
                                        <td>
                                            {{treeSubCategory.description}}
                                        </td>
                                        <td>
                                            4-a
                                        </td>
                                        <td>
                                            20,00$
                                        </td>
                                        <td>
                                            <button mat-raised-button type="submit" class="btn btn-primary pull-right">Consulter</button>
                                        </td>
                                        <td style="text-align: right" *ngIf="admin">
                                            <a class="nav-link NewIconOption" href="#modify-sub-category">
                                                <i class="material-icons SubCategoryIcon">settings</i>
                                            </a>
                                            <a class="nav-link NewIconOption" href="">
                                                <i (click)="deleteSubCategoryValidation();" class="material-icons SubCategoryIcon">delete</i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>