<div class="main-content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-1" *ngIf="isAdmin()">
                <a class="nav-link" href="#add-category">
                    <i style="text-align: center;font-size: 50px;" class="material-icons">add_circle</i>
                </a>
            </div>

            <div class="col-md-12" *ngFor="let treeCategory of treeCategories">
                <div class="card">
                    <div class="card-header card-header-green">
                        <div class="row">
                            <div class="col-md-9">
                                <h3 class="card-title">{{ treeCategory.description }}</h3>
                            </div>
                            <div class="col-md-3" style="text-align: right" *ngIf="isAdmin()">
                                <a class="nav-link CategoryOption" href="#modify-category">
                                    <i class="material-icons categoryicon">settings</i>
                                </a>
                                <a class="nav-link CategoryOption">
                                    <i (click)="deleteCategoryValidation();" class="material-icons categoryicon">delete</i>
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        Nom
                                    </th>
                                    <th>
                                        Zone
                                    </th>
                                    <th *ngIf="isAdmin()">
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let treeSubCategory of treeCategory.treeSubCategories">
                                        <td>
                                            {{treeSubCategory.description}}
                                        </td>
                                        <td>
                                            4-a
                                        </td>
                                        <td style="text-align: right" *ngIf="isAdmin()">
                                            <a class="nav-link CategoryOption" href="#modify-sub-category">
                                                <i style="font-size: 15px;" class="material-icons">settings</i>
                                            </a>
                                            <a class="nav-link CategoryOption" href="">
                                                <i (click)="deleteSubCategoryValidation();" class="material-icons ">delete</i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>