<div class="main-content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-1">
                <a class="nav-link" href="#add-location">
                    <i style="text-align: center;font-size: 50px;" class="material-icons">add_location</i>
                </a>
            </div>

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-green">
                        <h3 class="card-title">Points de distribution</h3>
                        <p class="card-category">Trouvez le point le plus près de chez vous dès maintenant!</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="text-primary">
                                    <th>
                                        <a style="cursor:pointer;" target="_blank"
                                            href="https://cegepba.qc.ca/">Cégep Beauce-Appalaches (Saint-Georges)</a>
                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            Saint-George, de la région de la Beauce, se trouve à environ
                                            1 heure de la ville de Québec. Le point de distribution de
                                            cette ville se situe au Cégep Beauce-Appalaches. Le cégep se
                                            situe sur le point de plus haut de la ville et était anciennement
                                            un séminaire.
                                        </td>
                                        <td class="text-primary">
                                            <a title="Comment s'y rendre" style="cursor:pointer;" target="_blank"
                                                href="https://www.google.com.ar/maps/place/C%C3%A9gep+Beauce-Appalaches/@46.1267114,-70.6712629,17z/data=!3m1!4b1!4m5!3m4!1s0x4cb9bfc286cb90d9:0xff6d09301e9fdb22!8m2!3d46.1267077!4d-70.6690742">
                                                Où se trouve ce lieu?</a>
                                        </td>
                                    </tr>
                                </tbody>
                                <thead class="text-primary">
                                    <th>
                                        <a style="cursor:pointer;" target="_blank"
                                            href="https://www.ulaval.ca/">Université Laval (Québec)</a>
                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            La ville de Québec est accessible de la Beauce en passant par
                                            l'autoroute Robert-Cliche (73). Le point de ditribution choisi
                                            est l'Université Laval.
                                        </td>
                                        <td class="text-primary">
                                            <a title="Comment s'y rendre" style="cursor:pointer;" target="_blank"
                                                href="https://www.google.com.ar/maps/place/Universit%C3%A9+Laval/@46.7765017,-71.2731419,16.75z/data=!4m5!3m4!1s0x4cb896c8756d5999:0xa95dc568acf4357a!8m2!3d46.776635!4d-71.270671">
                                                Où se trouve ce lieu?</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>