<div class="main-content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12" *ngIf="admin">
                <div class="row">
                    <div class="col-md-1">
                        <a class="nav-link">
                            <i (click)="ShowNewDistributionPoint()"
                                class="material-icons NewDistributionPointIcon">add_location</i>
                        </a>
                    </div>
                    <div id="newDistributionPoint" class="col-md-11" style="display:none;">
                        <form [formGroup]="newDistributionPoint" (ngSubmit)="AddNewDistributionPoint()">
                            <div class="row">
                                <div class="col-md-5">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="URL Google Map" name="mapLink"
                                            formControlName="mapLink">
                                    </mat-form-field>
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="URL du point" name="webLink"
                                            formControlName="webLink" maxlength="254">
                                    </mat-form-field>
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Nom du point" name="webName"
                                            formControlName="webName" maxlength="254">
                                    </mat-form-field>
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Description du point" name="description"
                                            formControlName="description">
                                    </mat-form-field>
                                    <!-- <small *ngIf="description.errors && description.invalid && description.touched"
                                                class="text-danger">
                                                <div *ngIf="description.errors?.treeCategoryExists">La catégorie est déjà existante</div>
                                            </small> -->
                                </div>

                                <div class="col-md-3" style="text-align: left">
                                    <button [disabled]="!newDistributionPoint.valid" type="submit" mat-icon-button>
                                        <i class="material-icons NewDistributionPointIconOption">check</i>
                                    </button>
                                    <a class="nav-link NewIconOption">
                                        <i (click)="HideNewDistributionPoint()"
                                            class="material-icons NewDistributionPointIconOption">close</i>
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-green">
                        <h3 class="card-title">Points de distribution</h3>
                        <p class="card-category">Trouvez le point le plus près de chez vous dès maintenant!</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive" style="overflow: unset">
                            <table class="table">
                                <div *ngFor="let point of distributionPoints" class="row">
                                    <thead class="text-primary col-md-12" style="display: flex; align-items: center;">
                                        <div class="col-md-8">
                                            <div *ngIf="!point.webLink">
                                                {{point.webName}}
                                            </div>
                                            <a *ngIf="point.webLink" style="cursor:pointer;" target="_blank"
                                                [href]="point.webLink">{{point.webName}}
                                            </a>
                                        </div>
                                        <div *ngIf="admin" class="col-md-4" style="text-align:right">
                                            <a class="nav-link NewIconOption">
                                                <i (click)="ModifyDistributionPoint(point.id, point.description)"
                                                    class="material-icons DistributionPointIcon">settings</i>
                                            </a>
                                            <a class="nav-link NewIconOption">
                                                <i (click)="DeleteDistributionPointValidation(point.id);"
                                                    class="material-icons DistributionPointIcon">delete</i>
                                            </a>
                                        </div>
                                    </thead>
                                    <tbody class="col-md-12" style="display: flex">
                                        <td class="col-md-8 col-sm-10">
                                            {{point.description}}
                                        </td>
                                        <td class="text-primary col-md-4 col-sm-2" style="text-align:right;padding-bottom: 50px;">
                                            <a title="Comment s'y rendre" style="cursor:pointer;"
                                                target="_blank" [href]="point.mapLink">Où se trouve ce lieu?</a>
                                        </td>
                                    </tbody>
                                </div>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>