.NewDistributionPointIcon {cursor:pointer;color:#00808e;text-align: left;font-size: 40px;}
.NewDistributionPointIconOption {cursor:pointer;color:#00808e;text-align: left;font-size: 35px;}

.DistributionPointIcon {cursor:pointer;text-align: center;font-size: 24px;}

.NewIconOption {cursor:pointer;display: inline-block;}


