<footer class="footer" style="height:1px">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a style="font-size:10px;" href="https://www.creative-tim.com">
                        Creative Tim
                    </a>
                </li>
                <li>
                    <a style="font-size:10px;" href="https://creative-tim.com/about-us">
                        À propos
                    </a>
                </li>
                <li>
                    <a style="font-size:10px;" href="http://blog.creative-tim.com">
                        Blog
                    </a>
                </li>
                <li>
                    <a style="font-size:10px;" href="https://www.creative-tim.com/license">
                        Licenses
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-left" style="font-size:12px;">
            &copy;
            {{test | date: 'yyyy'}}, modèle par
            <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
        </div>
        <div class="copyright pull-right" style="font-size:12px;">
            Jean-Philippe Boucher, Alice Lessard, @Cba
        </div>
    </div>
</footer>