<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-tabs card-header-green">
                <h3 class="card-title">À propos du CER</h3>
                <p class="card-category">Un organisme à but non-lucratif orienté vers l'environnement
                </p>
              </div>
              <div class="card-body">
                <form>
                  <div class="row">
                    <div class="col-md-12">
                      CER (Commité Environnemental Responsable) est composé de citoyens
                      dévoués à leur communauté et ayant l'environnement à coeur. Le commité
                      à été créé afin de partager les valeurs de l'environnement et de la
                      responsabilité
                      et pour sensibiliser les gens à penser à leur empreinte écologique.

                      Faire pousser ses arbres soi-même est avantageux pour les citoyens.
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-tabs card-header-green">
                <h3 class="card-title">Nous contacter</h3>
                <div class="nav-tabs-navigation">
                  <div class="nav-tabs-wrapper">
                    <ul class="nav nav-tabs" data-tabs="tabs">
                      <li class="nav-item">
                        <a mat-button class="nav-link active" href="#profile" data-toggle="tab">
                          <i class="material-icons">phone</i> Téléphone
                          <div class="ripple-container"></div>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a mat-button class="nav-link" href="#messages" data-toggle="tab">
                          <i class="material-icons">email</i> Courriel
                          <div class="ripple-container"></div>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a mat-button class="nav-link" href="#settings" data-toggle="tab">
                          <i class="material-icons">location_on</i> Addresse
                          <div class="ripple-container"></div>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="tab-content">
                  <div class="tab-pane active" id="profile">
                    <table class="table">
                      <tbody>
                        <tr>
                          <td>CER (Cégep Beauce-Appalaches)</td>
                          <td>1 800 893-5111, poste 2762 </td>
                        </tr>
                        <tr>
                          <td>Michel Baillargeon</td>
                          <td>418 228-8896</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="tab-pane" id="messages">
                    <table class="table">
                      <tbody>
                        <tr>
                          <td class="td-actions text-right">
                            <button mat-raised-button type="button" matTooltip="Contacter"
                              class="btn btn-primary btn-link btn-sm btn-just-icon">
                              <a href="https://cegepba.qc.ca/nous-joindre/contact/?personne_contact=mbaillargeon@cegepba.qc.ca&page_provenante=Comit%C3%A9%20environnement%20responsable&nom_contact=Michel+Baillargeon"
                                target="_blank">
                                <i class="material-icons">email</i>
                              </a>
                            </button>
                          </td>
                          <td>mbaillargeon@cegepba.qc.ca</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="tab-pane" id="settings">
                    <table class="table">
                      <tbody>
                        <tr>
                          <td class="td-actions text-right">
                            <button mat-raised-button type="button" matTooltip="Carte"
                              class="btn btn-primary btn-link btn-sm btn-just-icon">
                              <a href="https://www.google.com/maps/place/C%C3%A9gep+Beauce-Appalaches/@46.1267114,-70.6712629,17z/data=!3m1!4b1!4m5!3m4!1s0x4cb9bfc286cb90d9:0xff6d09301e9fdb22!8m2!3d46.1267077!4d-70.6690742"
                                target="_blank">
                                <i class="material-icons">location_on</i>
                              </a>
                            </button>
                          </td>
                          <td>Cégep Beauce-Appalaches</td>
                          <td>1055 116e Rue, Saint-Georges, QC G5Y 3G1</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar">
            <a>
              <img class="img" src="./assets/img/environment/apple_2.jpg" />
            </a>
          </div>
          <div class="card-body">
            <h4 class="card-title">Page officielle</h4>
            <a target="_blank" href="https://cegepba.qc.ca/etudiants/comites/comite-environnement-responsable/"
              class="btn btn-green btn-round">Consulter</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>