<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header card-header-tabs card-header-danger">
                    <h4 class="card-title">À propos de CRE</h4>
                    <p class="card-category">Un organisme à but non-lucratif orienté vers l'environnement</p>
                  </div>
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="col-md-12">
                                CER (Commité Environnemental Responsable) est composé de citoyens
                                dévoués à leur communauté et ayant l'environnement à coeur. Le commité 
                                à été créé afin de partager les valeurs de l'environnement et de la responsabilité
                                et pour sensibiliser les gens à penser à leur empreinte écologique.

                                Faire pousser ses arbres soi-même est avantageux pour les citoyens.
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-profile">
                <div class="card-avatar">
                    <a href="#pablo">
                        <img class="img" src="./assets/img/environment/apple_1.jpg" />
                    </a>
                </div>
                <div class="card-body">
                    <h6 class="card-category text-gray">Notre équipe</h6>
                    <h4 class="card-title">Test 123 test</h4>
                    <p class="card-description">
                      Cégep Beauce-Appalaches
                    </p>
                    <a href="#pablo" class="btn btn-danger btn-round">Follow</a>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  