<div class="main-content">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-green">
            <h3 class="card-title">Panier</h3>
            <p *ngIf="disableButtonWhenNotConnected()" class="card-category">Pour avoir un panier, vous devez être
              connecter!</p>
          </div>
          <div class="card-body">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>