<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-1">
            <a>
              <i [routerLink]="['/previous-orders-supplier']" class="material-icons mainIcon">arrow_back</i>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-9">

        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-tabs card-header-green">
                <h3 class="card-title">Arbres par catégories</h3>
              </div>

              <div class="card-body">
                <div class="table-responsive" style="overflow: unset">
                  <table class="table">

                    <div *ngFor="let totalOfCategory of totalByCategory" class="row">
                      <thead class="col-md-12" style="display: flex;">
                        <div class="col-md-6">
                          <h5 class="text-primary" style="font-weight:bold">
                            {{totalOfCategory.categoryName}}
                          </h5>
                        </div>

                        <div class="col-md-6 text-primary" style="text-align: right;">
                          Total pour la catégorie: {{totalOfCategory.categoryTotal}}
                        </div>
                      </thead>
                      <div class="col-md-12" *ngFor="let totalOfTree of totalOfCategory.treesByCategory"
                        style="display: flex; align-items: right;">
                        <div class="col-md-5">
                        </div>
                        <div class="text-primary col-md-3" style="text-align: right;">
                          {{totalOfTree.treeName}}
                        </div>
                        <div class="text-primary col-md-4" style="text-align:right;">
                          Total pour l'arbre: {{totalOfTree.treeTotal}}
                        </div>
                      </div>
                      <div style="height:65px;"></div>
                    </div>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-tabs card-header-green">
                <h3 class="card-title">Arbres par points de ditribution</h3>
              </div>
              <div class="card-body">
                <div class="table-responsive" style="overflow: unset">
                  <table class="table">

                    <div *ngFor="let totalOfDistributionPoint of totalByDistributionPoint" class="row">
                      <thead class="col-md-12" style="display: flex;">
                        <div class="col-md-8">
                          <h5 class="text-primary" style="font-weight:bold">
                            {{totalOfDistributionPoint.distributionPointName}}
                          </h5>
                        </div>

                        <div class="col-md-4 text-primary" style="text-align: right;">
                          Total pour le point: {{totalOfDistributionPoint.distributionPointTotal}}
                        </div>
                      </thead>
                    </div>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="row">
          <div class="col-md-12">
            <div class="card card-stats">
              <div class="card-header card-header-green card-header-icon">
                <div class="card-icon">
                  <h1>{{totalByAll}}</h1>
                </div>
              </div>
              <div class="card-body" style="text-align: left">
                <h4>Arbres commandés pour cette saison</h4>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <button mat-raised-button type="button" (click)="viewCustomerOrdersOfSupplierOrder()"
              class="btn btn-primary pull-right">Voir les commandes</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>