<div class="main-content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12">
        <h3>Le projet du CER</h3>
      </div>
    </div>

    <div class="row">
      <slideshow style="width:1000px;height:500px;" [autoPlay]="true" [imageUrls]="imagesToShow"
        [lazyLoad]="imagesToShow?.length > 1" [autoPlayWaitForLazyLoad]="true"></slideshow>
    </div>

    <div class="row">
      <div class="col-md-12" style="display:flex">
        <h3>{{descriptionTitle}}</h3> &nbsp; &nbsp;
        <i *ngIf="admin" (click)="modifyDashboardDescription()" class="material-icons subIcon" style="margin-top:25px">settings</i>
        
      </div>
    </div>

    <div class="row">
      <div class="col-md-12" style="white-space: pre-wrap">{{descriptionText}}</div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h3>Découvrir</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6" *ngFor="let tree of randomTrees">
        <div class="card card-profile">
          <div class="card-avatar">
            <a>
              <img class="img" src="data:image/jpeg;base64,{{tree.image}}" />
            </a>
          </div>
          <div class="card-body">
            <h4 class="card-title">{{tree.name}}</h4>
            <h6 class="card-category text-gray">{{tree.price}} $</h6>
            <button mat-raised-button type="button" (click)="viewTree(tree.idTreeCategory, tree.id)"
              class="btn btn-green btn-round">Détails</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>