<div class="main-content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12">
        <h3>Le projet du CER</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <img style="width:100%;border: solid white 10px;margin:auto 0;overflow: hidden;padding: 0;border-radius: 15px;"
          src="./assets/img/environment/Diapositive5.JPG" />
      </div>
      <div class="col-md-6">
        <img style="width:100%;border: solid white 10px;margin:auto 0;overflow: hidden;padding: 0;border-radius: 15px;"
          src="./assets/img/environment/Diapositive6.JPG" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <img style="width:100%;border: solid white 10px;margin:auto 0;overflow: hidden;padding: 0;border-radius: 15px;"
          src="./assets/img/environment/Diapositive2.JPG" />
      </div>
      <div class="col-md-4">
        <img style="width:100%;border: solid white 10px;margin:auto 0;overflow: hidden;padding: 0;border-radius: 15px;"
          src="./assets/img/environment/Diapositive8.JPG" />
      </div>
      <div class="col-md-4">
        <img style="width:100%;border: solid white 10px;margin:auto 0;overflow: hidden;padding: 0;border-radius: 15px;"
          src="./assets/img/environment/Diapositive7.JPG" />
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h3>La permaculture, une solution</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        Afin de retrouver une autonomie au niveau de l'alimentation, les communautés s'orientent
        de plus en plus vers la permaculture. Cette technique, qui consiste à reproduire des
        mini-écosystèmes autosuffisants, est très appréciée des écologistes et des jardiniers.
        <br>
        En s'inspirant de la nature, qui est en soi autonome, le but de la permaculture est
        de créer des environnements où chaque plante, arbre ou buisson joue un rôle clé dans
        l'environnement. Chaque plant ne consomme que sa propre portion de nutriments dans la terre.
        <br><br>
        L'avantage de la permaculture face au jardinage traditionnel est que les écosystèmes reproduits,
        une fois en place, ne nécessitent presque aucune intervention humaine jusqu'à la récolte.
        Ces écosystèmes, très flexibles, peuvent sans problèmes être aménagés en fonction de besoins
        particuliers, telle l'alimentation.
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h3>Un effort collectif</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        Bien que la permaculture est très performante et beaucoup moins néfaste pour l'environnement
        que l'agriculture industrielle, il y a évidemment des côtés négatifs. Reproduire un écosystème
        et s'en occuper est une tâche très longue et ardue; ce travail s'effectue beaucoup mieux à
        grande échelle comme au niveau d'une communauté ou quartier, et non seulement pour une seule
        personne.
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h3>Découvrir</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6" *ngFor="let tree of randomTrees">
        <div class="card card-profile">
          <div class="card-avatar">
            <a>
              <img class="img" src="data:image/jpeg;base64,{{tree.image}}" />
            </a>
          </div>
          <div class="card-body">
            <h4 class="card-title">{{tree.name}}</h4>
            <h6 class="card-category text-gray">{{tree.price}} $</h6>
            <button mat-raised-button type="button" (click)="viewTree(tree.idTreeCategory, tree.id)"
              class="btn btn-green btn-round">Détails</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>