<div class="main-content">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-12">
        <form [formGroup]="cartForm" (ngSubmit)="saveChange()">
          <div formArrayName="orderDetail">
            <div class="card">
              <div class="card-header card-header-green">
                <h3 class="card-title">Panier</h3>
                <p *ngIf="disableButtonWhenNotConnected()" class="card-category">Pour avoir un panier, vous devez être
                  connecter!</p>
              </div>
              <div class="card-body">
                <div class="table-responsive" *ngIf="!disableButtonWhenNotConnected()">

                  <table class="table">
                    <thead class=" text-primary">
                      <th> Produit </th>
                      <th> Zone </th>
                      <th> Âge/Hauteur </th>
                      <th> Prix/u </th>
                      <th style="text-align: center"> Quantité</th>
                      <th style="text-align: center"> Total </th>
                    </thead>
                    <tbody>
                      <tr class="form-group"
                        *ngFor="let detail of cartForm.controls.orderDetail.controls; let i = index">
                        <td> {{cartForm.controls.orderDetail.controls[i].controls.name.value}} </td>
                        <td> {{cartForm.controls.orderDetail.controls[i].controls.zone.value}} </td>
                        <td> {{cartForm.controls.orderDetail.controls[i].controls.ageHeight.value}} </td>
                        <td> {{cartForm.controls.orderDetail.controls[i].controls.price.value}} $ </td>
                        <div style="text-align: -webkit-center;" [formGroupName]="i">
                          <td>
                            <input formControlName="quantity" style="width: 50px" matInput type="number" name="quantity"
                              pattern="^[0123456789]{1,3}$" min="1">
                          </td>
                        </div>
                        <td style="text-align: center">
                          {{cartForm.controls.orderDetail.controls[i].controls.totalPrice.value}} $ </td>
                        <td style="text-align: right;"> <a class="nav-link"> <i
                              (click)="deleteItem(cartForm.controls.orderDetail.controls[i].controls.id.value, i)"
                              style="cursor:pointer;text-align: center;" class="material-icons">clear</i> </a> </td>
                      </tr>
                    </tbody>
                  </table>
                  <div *ngFor="let error of quantityError">
                    <small class="text-danger">
                      <div>{{error}}</div>
                    </small>
                  </div>

                  <div class="col-md-12">
                    <button [disabled]="!cartForm.valid && disableButtonWhenNotConnectedAndNoCard()" mat-raised-button
                      type="submit" class="btn btn-green pull-right" style="color:white;">Sauvegarder les
                      changements</button>
                  </div>

                </div>
              </div>
            </div>
            <div class="rowOrder pull-right">
              <div>
                <div class="card">
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table">
                        <thead class=" text-primary">
                          <th> Total de la commande: {{orderTotal}} $</th>
                        </thead>
                      </table>
                    </div>

                    <button [disabled]="disableButtonWhenNotConnectedAndNoCard()" (click)="order()"
                      class="btn btn-green pull-right" style="color:white;">Passer la commande</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>