<div class="main-content">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-green">
            <h3 class="card-title">Panier</h3>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th> Produit </th>
                  <th> Zone </th>
                  <th> Âge/Hauteur </th>
                  <th> Prix/u </th>
                  <th style="text-align: center"> Quantité</th>
                  <th> Total </th>
                </thead>
                <tbody>
                  <tr *ngFor="let orderDetail of cart">
                    <td> {{orderDetail.tree.name}} </td>
                    <td> {{orderDetail.tree.zone}} </td>
                    <td> {{orderDetail.tree.ageHeight}} </td>
                    <td> {{orderDetail.tree.price}}$ </td>
                    <td style="text-align: center" >
                      <input style="width: 50px" min="0" matInput type="number"
                      name="quantity"> {{orderDetail.quantity}} </td>
                    <td> {{orderDetail.quantity * orderDetail.tree.price}}$ </td>
                    <td> <a class="nav-link"> <i style="cursor:pointer;text-align: center;" class="material-icons">clear</i> </a> </td>
                  </tr>
                </tbody>
              </table>  

            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <a class="btn btn-green pull-right" style="color:white;" role="button">Sauvegarder les changements</a>
          </div>
          <div class="col-md-12">
            <a class="btn btn-green pull-right" style="color:white;" role="button">Passer la commande</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>