<div class="main-content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-green">
            <h3 class="card-title">Administrateurs</h3>
          </div>

          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class="text-primary">
                  <th> Nom Complet </th>
                  <th> Téléphone </th>
                  <th style="text-align: right">
                    <a>
                      <i (click)="addAdministrator()" class="material-icons subIcon">add_circle</i>
                    </a>
                  </th>
                </thead>
                <tbody>
                  <tr *ngFor="let admin of administrators">
                    <td> {{admin.firstName}} &nbsp; {{admin.lastName}}</td>
                    <td> {{admin.phoneNumber}} </td>
                    <td style="text-align: right">
                      <a>
                        <i (click)="deleteAdministrator(admin.id);" class="material-icons subIcon">delete</i>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-green">
            <h3 class="card-title">Fournisseurs</h3>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class="text-primary">
                  <th> Nom </th>
                  <th> Courriel </th>
                  <th> Téléphone </th>
                  <th style="text-align: right">
                    <a>
                      <i (click)="addSupplier()" class="material-icons subIcon">add_circle</i>
                    </a>
                  </th>
                </thead>
                <tbody>
                  <tr *ngFor="let supplier of suppliers">
                    <td> {{supplier.name}} </td>
                    <td> {{supplier.email}} </td>
                    <td> {{supplier.phoneNumber}} </td>
                    <td style="text-align: right">
                      <a>
                        <i (click)="modifySupplier(supplier)" class="material-icons subIcon">settings</i>
                      </a>
                      <a>
                        <i (click)="deleteSupplier(supplier.id);" class="material-icons subIcon">delete</i>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-green">
            <h3 class="card-title">Usagers</h3>
            <p class="card-category">Contactez rapidement vos clients au besoin</p>
          </div>

          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class="text-primary">
                  <th> Commandes en cours </th>
                  <th> Commandes traitées </th>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <button mat-raised-button type="button" (click)="copyCustomers('Paid')"
                        class="btn btn-primary">Copier</button>
                    </td>
                    <td> <button mat-raised-button type="button" (click)="copyCustomers('Processed')"
                        class="btn btn-primary">Copier</button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p id="contentToCopy"></p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>