<div class="main-content">
  <div class="container-fluid">
    <div class="row" id="print-section">

      <div class="col-md-12">
        <form [formGroup]="cartForm" (ngSubmit)="checkIfCanPaid()">
          <div class="card">
            <div class="card-header card-header-green">
              <h3 class="card-title">Finalisation de la commande</h3>
            </div>
            <div class="card-body">

              <div style="display: flex;font-size:16px;" *ngIf="!hasPaid">
                <i class="material-icons" style="font-size:20px;margin-top:1px;">looks_one</i>
                &nbsp;<p style="font-weight: bold"> Choix du point de distribution où aller chercher votre commande</p>
              </div>
              <div style="display: flex;font-size:12px; margin-top:-15px;" *ngIf="!hasPaid">
                <i class="material-icons" style="font-size:15px;margin-top:4px;margin-left:20px;">warning</i>
                &nbsp;Pour en savoir plus à propos des points, veuillez visiter la section «Points De Distribution»
              </div>

              <mat-form-field [formGroup]='distributionPointForm'>
                <mat-label>Lieu</mat-label>
                <mat-select name="distributionPoint" formControlName="distributionPoint">
                  <mat-option *ngFor="let distributionPoint of distributionPoints" [value]="distributionPoint.id">
                    {{distributionPoint.webName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <div style="display: flex;font-size:16px;margin-top: 20px;" *ngIf="!hasPaid">
                <i class="material-icons" style="font-size:20px;margin-top:1px;">looks_two</i>
                &nbsp;<p style="font-weight: bold;">Validation des informations du compte</p>
              </div>

              <div class="row">
                <div class="col-md-4">
                  Nom: {{currentUser.lastName}}
                </div>
                <div class="col-md-4">
                  Prénom: {{currentUser.firstName}}
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  Email: {{currentUser.email}}
                </div>
                <div class="col-md-4">
                  Téléphone: {{phoneNumber}}
                </div>
              </div>

              <div style="display: flex;font-size:16px;margin-top: 40px;" *ngIf="!hasPaid">
                <i class="material-icons" style="font-size:20px;margin-top:1px;">looks_3</i>
                &nbsp;<p style="font-weight: bold;">Validation des items de la commande</p>
              </div>

              <div formArrayName="orderDetail">
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                      <th> Produit </th>
                      <th> Zone </th>
                      <th> Âge/Hauteur </th>
                      <th> Prix/u </th>
                      <th> Quantité</th>
                      <th> Total </th>
                    </thead>
                    <tbody>
                      <tr class="form-group" *ngFor="let detail of cartData.controls; let i = index">
                        <td> {{cartForm.controls.orderDetail.controls[i].controls.name.value}} </td>
                        <td> {{cartForm.controls.orderDetail.controls[i].controls.zone.value}} </td>
                        <td> {{cartForm.controls.orderDetail.controls[i].controls.ageHeight.value}} </td>
                        <td> {{cartForm.controls.orderDetail.controls[i].controls.price.value}} $ </td>
                        <td style="text-align: center">
                          {{cartForm.controls.orderDetail.controls[i].controls.quantity.value}} </td>
                        <td style="text-align: center">
                          {{cartForm.controls.orderDetail.controls[i].controls.totalPrice.value}} $ </td>
                      </tr>
                    </tbody>
                  </table>
                  <div *ngFor="let error of quantityError">
                    <small class="text-danger">
                      <div>{{error}}</div>
                    </small>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="rowOrder pull-right">
            <div>
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-8" style="text-align:right"> Sans taxe: </div>
                    <div class="col-md-4" style="font-weight: bold; text-align:left">{{withoutTax}} $ </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-md-8" style="text-align:right"> Tps (5%): </div>
                    <div class="col-md-4" style="font-weight: bold; text-align:left"> {{tps}} $ </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-md-8" style="text-align:right"> Tvq (9,975%): </div>
                    <div class="col-md-4" style="font-weight: bold; text-align:left"> {{tvq}} $ </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-md-8" style="text-align:right"> Total de la commande: </div>
                    <div class="col-md-4" style="font-weight: bold; text-align:left"> {{orderTotal}} $ </div>
                  </div>
                  <div *ngIf="!hasPaid">
                    <button [disabled]="!distributionPointForm.valid" class="btn btn-green pull-right"
                      style="color:white;" (click)="checkout($event)">
                      Payer {{commandTotal}} $
                    </button>

                    <hr>

                    <div *ngIf="loading"> Loading....</div>
                    <pre *ngIf="confirmation">{{confirmation | json}}</pre>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7"></div>
      <div class="card card-stats col-md-5" *ngIf="hasPaid">
        <div class="card-header card-header-green card-header-icon">
          <div class="card-icon">
            <i class="material-icons">print</i>
          </div>
          <p class="card-category">Imprimer les commandes</p>
          <button mat-raised-button type="button" (click)="captureScreen()"
            class="btn btn-primary pull-right btn-print">Imprimer</button>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="material-icons">info</i>
            &nbsp;Version PDF
          </div>
        </div>
      </div>
    </div>
  </div>
</div>