<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-green">
                        <!--<h1>Bonjour {{currentUser.firstName}}!</h1>-->
                        <h4 class="card-title">Informations reliées au compte</h4>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Prénom" type="text">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Nom" type="text">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Numéro de téléphone" type="text">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Adresse courriel" type="email">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Mot de passe" type="password">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button mat-raised-button type="submit" class="btn btn-green pull-right">Modifier le
                                        profil</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <a (click)="logout()" [routerLink]="['/connection']" class="btn btn-green pull-right"
                                        style="color:white;" role="button">Se déconnecter</a>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="row" style="padding-top: 15px;">
                                <div class="col-md-12" align="right">
                                    <label (click)="deleteValidation()"
                                        style="cursor:pointer;text-decoration: underline">Détruite ce compte</label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-header card-header-green">
                        <h4 class="card-title">Accédez à vos commandes</h4>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">1 commande trouvée</h4>
                        <p class="card-description">
                            Visionnez vos commande si vous avez fait des achats
                        </p>
                        <a href="#pablo" class="btn btn-green btn-round">Continer</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>